



		<div id="clock" class="light">
			<div class="button-holder">
			<a id="switch-theme" class="button">디자인</a>
			<div class="display">
				<div class="weekdays"></div>
				<div class="ampm"></div>
				<div class="alarm"></div>
				<div class="digits"></div>
			</div>
			</div>
</div>
		<!-- JavaScript Includes -->
	<!-- 	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
		
		<link href="../ownerContent/widgetclock/assets/css/style.css" rel="stylesheet" />
		<script src="../ownerContent/widgetclock/assets/js/moment.min.js"></script>
		<script src="../ownerContent/widgetclock/assets/js/script.js"></script>
