@import url("http://weloveiconfonts.com/api/?family=entypo");
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}s

[class*="entypo-"]:before, #form #submit, .green, .orange {
  -webkit-font-smoothing: antialiased;
  -moz-macosx-text-rendering: grayscale;
}

.wrap:after {
  clear: both;
  content: "";
  display: table;
}
.wrap:before {
  content: "";
  display: table;
}

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-style: normal;
}

body {
  color: #aaa;
  font-family: "PT Sans";
  letter-spacing: .05em;
  background: url("http://subtlepatterns.com/patterns/sos.png");
}

a {
  color: #3D9970;
  text-decoration: none;
  margin-bottom: 1em;
}
a:hover {
  color: #FF851B;
}
a i {
  margin-right: 7px;
}

.wrap {
  width: 300px;
  margin: 0 auto;
  padding: 2em 0;
}

section {
  background: #fff;
  width: 150px;


}

#vert-nav ul {
  list-style: none;
  padding: 0;
}
#vert-nav .topmenu li.openmenu > a {
  background: #50a37e;
}
#vert-nav .topmenu li.openmenu .sf {
  -webkit-transform: rotate(180deg);
}
#vert-nav .topmenu li {
  position: relative;
}
#vert-nav .topmenu li .sf {
  position: fixed;
  z-index: 1;
  top: 1em;
  right: 1em;
  color: #378a65;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-backface-visibility: hidden;
}
#vert-nav .topmenu li:last-child a {
  border-bottom: 0.2em solid #398e68;
}
#vert-nav .topmenu li a {
  margin: 0;
  padding: 1em;
  display: block;
  width: 100%;
  background: #3D9970;
  color: #fff;
  border-bottom: 0.1em solid #398e68;
}
#vert-nav .topmenu li a:hover {
  background: #50a37e;
}
#vert-nav .submenu {
  display: none;
}
#vert-nav .submenu li:last-child a {
  border-width: .1em;
}
#vert-nav .submenu li a {
  padding-left: 2.6em;
  background: #3b946d;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#vert-nav .submenu li a:hover {
  background: #3c976f;
}

#form input, #form textarea {
  width: 100%;
  outline: none;
  border: 0.1em solid #ebebeb;
  border-bottom: none;
  color: #aaa;
  padding: .65em .65em .65em 2.2em;
}
#form input:focus, #form textarea:focus {
  background: #fcfcfc;
}
#form .field {
  padding: 0;
  position: relative;
}
#form label {
  position: absolute;
  text-transform: uppercase;
  color: #e6e6e6;
  top: .5em;
  left: .5em;
  font-size: 1.2em;
}
#form label.focused {
  color: #3D9970;
}
#form #rangeval {
  float: right;
}
#form #submit {
  outline: none;
  border: none;
  background: #3D9970;
  display: block;
  color: #fff;
  padding: 0.75em;
  font-size: 1em;
  border-bottom: 0.2em solid #398e68;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#form #submit:hover {
  color: #fff;
  background: #50a37e;
}
#form #submit:active {
  border-bottom: none;
  margin-top: .2em;
}

.green {
  background: #3D9970;
  display: inline-block;
  color: #fff;
  padding: 1em 2em;
  font-size: 1em;
  border-bottom: 0.2em solid #398e68;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.green:hover {
  color: #fff;
  background: #50a37e;
}
.green:active {
  border-bottom: none;
  margin-top: .2em;
}

.orange {
  background: #FF851B;
  display: inline-block;
  color: #fff;
  padding: 1em 2em;
  font-size: 1em;
  border-bottom: 0.2em solid #ed7c19;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.orange:hover {
  color: #fff;
  background: #ff9132;
}
.orange:active {
  border-bottom: none;
  margin-top: .2em;
}
