@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
	font-family: "Nanum Gothic", sans-serif;
	line-height: 1.6;
	font-size: 16px;
	background: #fff;
	color: #848484;
	font-weight: 300;
	overflow-x: hidden;
	font-family: "Nanum Gothic", sans-serif;
}

body.fh5co-offcanvas {
	overflow: hidden;
}

a {
	color: #ef6249;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a:hover {
	text-decoration: none !important;
	color: #ef6249 !important;
}

p, ul, ol {
	margin-bottom: 1.5em;
	font-size: 16px;
	color: #848484;
	font-family: "Nanum Gothic", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #5a5a5a;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 400;
	margin: 0 0 30px 0;
}

figure {
	margin-bottom: 2em;
}

::-webkit-selection {
	color: #fcfcfc;
	background: #ef6249;
}

::-moz-selection {
	color: #fcfcfc;
	background: #ef6249;
}

::selection {
	color: #fcfcfc;
	background: #ef6249;
}

#fh5co-header {
	position: relative;
	margin-bottom: 0;
	z-index: 9999999;
}

.fh5co-cover, .fh5co-hero {
	position: relative;
	height: 800px;
}

@media screen and (max-width: 768px) {
	.fh5co-cover, .fh5co-hero {
		height: 700px;
	}
}

.fh5co-cover.fh5co-hero-2, .fh5co-hero.fh5co-hero-2 {
	height: 600px;
}

.fh5co-cover.fh5co-hero-2 .fh5co-overlay, .fh5co-hero.fh5co-hero-2 .fh5co-overlay
	{
	position: absolute !important;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: rgba(41, 34, 43, 0.5);
}

.fh5co-overlay {
	position: absolute !important;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: rgba(41, 34, 43, 0.5);
}

.fh5co-cover {
	background-size: cover;
	position: relative;
}

@media screen and (max-width: 768px) {
	.fh5co-cover {
		height: inherit;
		padding: 3em 0;
	}
}

.fh5co-cover.fh5co-cover_2 {
	height: 600px;
}

@media screen and (max-width: 768px) {
	.fh5co-cover.fh5co-cover_2 {
		heifght: inherit;
		padding: 3em 0;
	}
}

.fh5co-cover .desc {
	top: 50%;
	position: absolute;
	width: 100%;
	margin-top: -80px;
	z-index: 2;
	color: #fff;
}

.desc2 {
	top: 30%;
	/* margin-left: 18%; */
	position: absolute;
	width: 100%;
	height: 500px;
	margin-top: -80px;
	z-index: 2;
	color: #fff;
	background: #ffffff;
	background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
	.fh5co-cover .desc {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.fh5co-cover .desc h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
	margin-bottom: 10px;
	font-weight: 300 !important;
}

.fh5co-cover .desc h2 strong {
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	.fh5co-cover .desc h2 {
		font-size: 40px;
	}
}

.fh5co-cover .desc span {
	display: block;
	margin-bottom: 30px;
	font-size: 28px;
	letter-spacing: 1px;
}

.fh5co-cover .desc span a {
	color: #fff;
}

.fh5co-cover .desc span a:hover, .fh5co-cover .desc span a:focus {
	color: #fff !important;
}

.fh5co-cover .desc span a:hover.btn, .fh5co-cover .desc span a:focus.btn
	{
	border: 2px solid #fff !important;
	background: transparent !important;
}

.fh5co-cover .desc span a.fh5co-site-name {
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.fh5co-cover .desc .btn {
	border: none;
}

.fh5co-cover .desc .btn.btn-video {
	background: rgba(0, 0, 0, 0.4);
	border: none;
}

.fh5co-cover .desc .btn.btn-video:hover, .fh5co-cover .desc .btn.btn-video:focus
	{
	background: rgba(0, 0, 0, 0.9) !important;
	color: #fff !important;
}

.fh5co-cover .desc .btn:hover, .fh5co-cover .desc .btn:focus {
	color: #fff !important;
}

.fh5co-cover .desc .btn.btn-learn {
	background: rgba(239, 98, 73, 0.7);
	border: none;
}

.fh5co-cover .desc .btn.btn-learn:hover, .fh5co-cover .desc .btn.btn-learn:focus
	{
	background: rgba(239, 98, 73, 0.9) !important;
	color: #fff !important;
}

/* Superfish Override Menu */
.sf-menu {
	margin: 0 !important;
	margin-top: 10px !important;
}

.sf-menu {
	float: right;
}

.sf-menu ul {
	box-shadow: none;
	border: transparent;
	min-width: 10em;
	*width: 10em;
}

.sf-menu a {
	color: rgba(255, 255, 255, 0.5);
	padding: 0.75em 1em !important;
	font-weight: normal;
	border-left: none;
	border-top: none;
	border-top: none;
	text-decoration: none;
	zoom: 1;
	font-size: 18px;
	border-bottom: none !important;
}

.sf-menu a:hover, .sf-menu a:focus {
	color: #fff !important;
}

.sf-menu li.active a:hover, .sf-menu li.active a:focus {
	color: #fff;
}

.sf-menu li, .sf-menu ul li, .sf-menu ul ul li, .sf-menu li:hover,
	.sf-menu li.sfHover {
	background: transparent;
}

.sf-menu ul li a, .sf-menu ul ul li a {
	text-transform: none;
	padding: 0.2em 1em !important;
	letter-spacing: 1px;
	font-size: 14px !important;
}

.sf-menu li:hover a, .sf-menu li.sfHover a, .sf-menu ul li:hover a,
	.sf-menu ul li.sfHover a, .sf-menu li.active a {
	color: #fff;
}

.sf-menu ul li:hover, .sf-menu ul li.sfHover {
	background: transparent;
}

.sf-menu ul li {
	background: transparent;
}

.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #ccc;
}

.sf-arrows>li>.sf-with-ul:focus:after, .sf-arrows>li:hover>.sf-with-ul:after,
	.sf-arrows>.sfHover>.sf-with-ul:after {
	border-top-color: #ccc;
}

.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #ccc;
}

.sf-arrows ul li>.sf-with-ul:focus:after, .sf-arrows ul li:hover>.sf-with-ul:after,
	.sf-arrows ul .sfHover>.sf-with-ul:after {
	border-left-color: #ccc;
}

#fh5co-header-section {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.nav-header {
	position: relative;
	float: left;
	width: 110%;
}

#fh5co-logo {
	position: relative;
	z-index: 2;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 35px;
	font-weight: 700;
	float: left;
}

#fh5co-logo span {
	font-weight: 700;
}

@media screen and (max-width: 768px) {
	#fh5co-logo {
		width: 100%;
		float: none;
		text-align: center;
	}
}

#fh5co-logo a {
	color: #fff;
}

#fh5co-logo a:hover, #fh5co-logo a:focus {
	color: #fff !important;
}

#fh5co-menu-wrap {
	position: relative;
	z-index: 2;
	display: block;
	float: right;
	margin-top: 15px;
}

#fh5co-menu-wrap .sf-menu a {
	padding: 1em .75em;
}

#fh5co-primary-menu>li>ul li.active>a {
	color: #ef6249 !important;
}

#fh5co-primary-menu>li>.sf-with-ul:after {
	border: none !important;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	float: right;
	margin-right: -5px;
	top: 50%;
	margin-top: -7px;
	/* content: "\e922"; */
	color: rgba(255, 255, 255, 0.5);
}

#fh5co-primary-menu>li>ul li {
	position: relative;
}

#fh5co-primary-menu>li>ul li>.sf-with-ul:after {
	border: none !important;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	float: right;
	margin-right: 10px;
	top: 20px;
	font-size: 16px;
	content: "\e924";
	color: rgba(0, 0, 0, 0.5);
}

#fh5co-primary-menu .fh5co-sub-menu {
	padding: 10px 7px 10px;
	background: #fff;
	left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

#fh5co-primary-menu .fh5co-sub-menu>li>.fh5co-sub-menu {
	left: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu:before {
	position: absolute;
	top: -9px;
	left: 20px;
	width: 0;
	height: 0;
	content: '';
}

#fh5co-primary-menu .fh5co-sub-menu:after {
	position: absolute;
	top: -8px;
	left: 21px;
	width: 0;
	height: 0;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	border-bottom: 8px solid white;
	border-left: 8px solid transparent;
	content: '';
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
	top: 6px;
	left: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
	top: 7px;
	right: 100%;
	border: none !important;
}

.site-header.has-image #primary-menu .sub-menu {
	border-color: #ebebeb;
	-webkit-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
	-ms-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
	-o-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
	box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
}

.site-header.has-image #primary-menu .sub-menu:before {
	display: none;
}

#fh5co-primary-menu .fh5co-sub-menu a {
	letter-spacing: 0;
	padding: 0 15px;
	font-size: 18px;
	line-height: 34px;
	color: #575757 !important;
	text-transform: none;
	background: none;
}

#fh5co-primary-menu .fh5co-sub-menu a:hover {
	color: #ef6249 !important;
}

#fh5co-work-section, #fh5co-services-section, #fh5co-content-section,
	#fh5co-work-section_2, #fh5co-blog-section, #fh5co-features {
	padding: 7em 0;
}

@media screen and (max-width: 768px) {
	#fh5co-work-section, #fh5co-services-section, #fh5co-content-section,
		#fh5co-work-section_2, #fh5co-blog-section, #fh5co-features {
		padding: 4em 0;
	}
}

.fh5co-section-gray {
	background: rgba(0, 0, 0, 0.04);
}

.heading-section {
	padding-bottom: 1em;
	margin-bottom: 5em;
}

.heading-section:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	height: 1px;
	background: #ef6249;
}

.heading-section h3 {
	font-size: 40px;
	font-weight: 300;
	position: relative;
}

.heading-section p {
	font-size: 20px;
}

.services {
	padding: 40px 20px 20px 20px;
	margin-bottom: 30px;
}

.services span {
	margin-bottom: 30px;
	width: 80px;
	height: 80px;
	border: 1px solid #ef6249;
	display: table;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	margin-bottom: 20px;
}

.services span i {
	font-size: 30px;
	color: #ef6249 !important;
	display: table-cell;
	vertical-align: middle;
	height: 80px;
}

.services h3 {
	font-size: 20px;
	font-weight: 400;
}

.feature-left {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
}

.feature-left .icon {
	float: left;
	text-align: center;
	width: 15%;
}

@media screen and (max-width: 992px) {
	.feature-left .icon {
		width: 10%;
	}
}

@media screen and (max-width: 768px) {
	.feature-left .icon {
		width: 15%;
	}
}

.feature-left .icon i {
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
	color: #ef6249;
}

.feature-left .feature-copy {
	float: right;
	width: 80%;
}

@media screen and (max-width: 992px) {
	.feature-left .feature-copy {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.feature-left .feature-copy {
		width: 85%;
	}
}

@media screen and (max-width: 480px) {
	.feature-left .feature-copy {
		width: 80%;
	}
}

.feature-left .feature-copy h3 {
	font-size: 18px;
	color: #1a1a1a;
	margin-bottom: 10px;
}

.feature-left .feature-copy p {
	font-size: 16px;
	line-height: 1.8;
}

#fh5co-portfolio {
	padding: 7em 0;
	min-height: 500px;
}

@media screen and (max-width: 768px) {
	#fh5co-portfolio {
		padding: 3em 0;
	}
}

#fh5co-portfolio-list {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;
}

#fh5co-portfolio-list li {
	display: block;
	padding: 0;
	margin: 0 0 10px 1%;
	list-style: none;
	min-height: 400px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	clear: left;
	position: relative;
}

@media screen and (max-width: 480px) {
	#fh5co-portfolio-list li {
		margin-left: 0;
	}
}

#fh5co-portfolio-list li a {
	min-height: 400px;
	padding: 2em;
	position: relative;
	width: 100%;
	display: block;
}

#fh5co-portfolio-list li a:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: 80;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	background: transparent;
}

#fh5co-portfolio-list li a:hover:before {
	background: rgba(0, 0, 0, 0.5);
}

#fh5co-portfolio-list li a .case-studies-summary {
	width: auto;
	bottom: 2em;
	left: 2em;
	right: 2em;
	position: absolute;
	z-index: 100;
}

@media screen and (max-width: 768px) {
	#fh5co-portfolio-list li a .case-studies-summary {
		bottom: 1em;
		left: 1em;
		right: 1em;
	}
}

#fh5co-portfolio-list li a .case-studies-summary span {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.7);
}

#fh5co-portfolio-list li a .case-studies-summary h2 {
	color: #fff;
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	#fh5co-portfolio-list li a .case-studies-summary h2 {
		font-size: 20px;
	}
}

#fh5co-portfolio-list li.one-third {
	width: 32.3%;
}

@media screen and (max-width: 768px) {
	#fh5co-portfolio-list li.one-third {
		width: 49%;
	}
}

@media screen and (max-width: 480px) {
	#fh5co-portfolio-list li.one-third {
		width: 100%;
	}
}

#fh5co-portfolio-list li.one-half {
	width: 49%;
}

@media screen and (max-width: 480px) {
	#fh5co-portfolio-list li.one-half {
		width: 100%;
	}
}

#fh5co-partner {
	margin-top: -3em;
	float: left;
	width: 100%;
}

@media screen and (max-width: 768px) {
	#fh5co-partner {
		margin-top: 0;
	}
}

#fh5co-partner .partner-wrap {
	position: relative;
	z-index: 100;
	float: left;
	width: 100%;
}

#fh5co-partner .wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 30px 0;
	background: #fff;
	-webkit-box-shadow: 0px 9px 25px -8px rgba(0, 0, 0, 0.38);
	-moz-box-shadow: 0px 9px 25px -8px rgba(0, 0, 0, 0.38);
	-ms-box-shadow: 0px 9px 25px -8px rgba(0, 0, 0, 0.38);
	-o-box-shadow: 0px 9px 25px -8px rgba(0, 0, 0, 0.38);
	box-shadow: 0px 9px 25px -8px rgba(0, 0, 0, 0.38);
}

#fh5co-partner .partner {
	width: 20%;
	float: left;
}

#fh5co-partner .partner .inner {
	width: 50%;
	margin: 0 auto;
}

#fh5co-features {
	margin-top: -11em;
	padding: 8em 0;
	background: #f5f5f5;
}

@media screen and (max-width: 992px) {
	#fh5co-features {
		margin-top: 0;
		padding: 7em 0;
	}
}

#fh5co-features .feature-left {
	margin-bottom: 0;
}

@media screen and (max-width: 992px) {
	#fh5co-features .feature-left {
		margin-bottom: 4em;
	}
}

#fh5co-features .feature-left .icon i {
	color: #b3b3b3;
}

#fh5co-features .feature-left .icon {
	float: left;
	text-align: center;
	width: 15%;
}

@media screen and (max-width: 992px) {
	#fh5co-features .feature-left .icon {
		width: 10%;
	}
}

@media screen and (max-width: 768px) {
	#fh5co-features .feature-left .icon {
		width: 15%;
	}
}

#fh5co-features .feature-left .feature-copy {
	float: right;
	width: 80%;
}

@media screen and (max-width: 992px) {
	#fh5co-features .feature-left .feature-copy {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	#fh5co-features .feature-left .feature-copy {
		width: 85%;
	}
}

@media screen and (max-width: 480px) {
	#fh5co-features .feature-left .feature-copy {
		width: 80%;
	}
}

#fh5co-features .feature-left h3 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

#fh5co-features .feature-left p {
	font-size: 15px;
}

#fh5co-features .feature-left p:last-child {
	margin-bottom: 0;
}

#fh5co-services, #fh5co-about, #fh5co-contact {
	padding: 7em 0;
}

@media screen and (max-width: 768px) {
	#fh5co-services, #fh5co-about, #fh5co-contact {
		padding: 4em 0;
	}
}

#fh5co-work {
	margin-top: -3.9em;
}

@media screen and (max-width: 768px) {
	#fh5co-work {
		margin-top: 11em;
	}
}

#fh5co-work .work {
	width: 100%;
	float: left;
	margin-bottom: 7em;
}

#fh5co-work .work .half-inner {
	background-size: cover;
	background-position: center center;
	position: relative;
	height: 500px;
	width: 135%;
	-webkit-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 992px) {
	#fh5co-work .work .half-inner {
		width: 90%;
		margin: 0 auto;
	}
}

#fh5co-work .work .half-inner:before {
	position: absolute;
	top: -20px;
	right: -20px;
	width: 80%;
	height: 540px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	content: '';
	z-index: -1;
	background: #fff;
}

#fh5co-work .work .half-inner.half-inner2 {
	width: 100% !important;
	height: 500px !important;
}

#fh5co-work .work .half-inner.half-inner2:before {
	left: -20px;
}

@media screen and (max-width: 992px) {
	#fh5co-work .work .half-inner.half-inner2 {
		width: 90% !important;
		margin: 0 auto;
	}
}

#fh5co-work .work .desc {
	width: 70%;
	margin: 0 auto;
	margin-top: 7em;
}

#fh5co-work .work .desc h3 a {
	color: #000;
}

#fh5co-services .fh5co-number {
	font-size: 30px;
	color: #ef6249;
	position: relative;
	padding-top: 10px;
	font-style: italic;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#fh5co-services .fh5co-number:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	top: 0;
	left: 0;
	background: #ef6249;
}

#fh5co-services .fh5co-icon {
	margin-bottom: 30px;
	margin-top: 50px;
	position: relative;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

@media screen and (max-width: 768px) {
	#fh5co-services .fh5co-icon {
		margin-top: 0px;
		float: none;
	}
}

#fh5co-services .fh5co-icon i {
	font-size: 200px;
	color: #ef6249;
}

@media screen and (max-width: 768px) {
	#fh5co-services .fh5co-icon i {
		font-size: 100px;
	}
}

#fh5co-contact .contact-info {
	margin: 0;
	padding: 0;
}

#fh5co-contact .contact-info li {
	list-style: none;
	margin: 0 0 20px 0;
	position: relative;
	padding-left: 40px;
}

#fh5co-contact .contact-info li i {
	position: absolute;
	top: .3em;
	left: 0;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.3);
}

#fh5co-contact .contact-info li a {
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.3);
}

#fh5co-contact .form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 18px;
	font-weight: 400;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
}

#fh5co-contact .form-control:focus, #fh5co-contact .form-control:active
	{
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#fh5co-contact input[type="text"] {
	height: 50px;
}

#fh5co-contact .form-group {
	margin-bottom: 30px;
}

.testimony {
	width: 100%;
	float: left;
}

.testimony figure {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 22px;
}

.testimony figure img {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.testimony blockquote {
	border-left: none;
	padding: 40px;
	background: #fff;
	-webkit-box-shadow: 5px 6px 7px -6px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 5px 6px 7px -6px rgba(0, 0, 0, 0.22);
	-ms-box-shadow: 5px 6px 7px -6px rgba(0, 0, 0, 0.22);
	-o-box-shadow: 5px 6px 7px -6px rgba(0, 0, 0, 0.22);
	box-shadow: 5px 6px 7px -6px rgba(0, 0, 0, 0.22);
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.testimony blockquote:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 12px 12px 0 12px;
	border-color: #fff transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -12px;
	left: 10%;
}

.testimony .author {
	margin-bottom: 0;
	margin-left: 15px;
	margin-top: 10px;
	float: left;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
}

.fh5co-blog {
	margin-bottom: 60px;
}

.fh5co-blog a img {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.fh5co-blog {
		width: 100%;
	}
}

.fh5co-blog .blog-text {
	margin-bottom: 30px;
	position: relative;
	background: #fff;
	width: 100%;
	padding: 30px;
	float: right;
	-webkit-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 6px 62px -6px rgba(0, 0, 0, 0.3);
}

.fh5co-blog .blog-text span {
	display: inline-block;
	margin-bottom: 20px;
}

.fh5co-blog .blog-text span.posted_by {
	color: rgba(0, 0, 0, 0.3);
	font-size: 18px;
}

.fh5co-blog .blog-text span.comment {
	float: right;
}

.fh5co-blog .blog-text span.comment a {
	color: rgba(0, 0, 0, 0.3);
}

.fh5co-blog .blog-text span.comment a i {
	color: #ef6249;
	padding-left: 7px;
}

.fh5co-blog .blog-text h3 {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.5;
}

.fh5co-blog .blog-text h3 a {
	color: rgba(0, 0, 0, 0.6);
}

#fh5co-start-project-section {
	padding: 7em 0;
	background: #F64E8B;
}

#fh5co-start-project-section h2 {
	color: white;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 300;
}

@media screen and (max-width: 768px) {
	#fh5co-start-project-section h2 {
		font-size: 30px;
	}
}

#fh5co-start-project-section a:hover, #fh5co-start-project-section a:focus,
	#fh5co-start-project-section a:active {
	color: white !important;
}

#map {
	width: 100%;
	height: 500px;
	position: relative;
}

@media screen and (max-width: 768px) {
	#map {
		height: 200px;
	}
}

.fh5co-social-icons>a {
	padding: 4px 10px;
	color: #ef6249;
}

.fh5co-social-icons>a i {
	font-size: 26px;
}

.fh5co-social-icons>a:hover, .fh5co-social-icons>a:focus,
	.fh5co-social-icons>a:active {
	text-decoration: none;
	color: #5a5a5a;
}

#footer {
	background: #2F3032;
	padding: 6em 0 0 0;
	width: 100%;
	float: left;
}

@media screen and (max-width: 768px) {
	#footer {
		padding: 3em 0;
	}
}

#footer h2, #footer h3, #footer h4 {
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
}

#footer h3 {
	font-size: 16px;
}

#footer [class*="col"] {
	padding-bottom: 30px;
}

#footer .btn {
	color: #fff;
}

#footer .float {
	float: left;
	margin-right: 10%;
}

#footer ul {
	padding: 0;
	margin: 0;
}

#footer ul li {
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
}

#footer ul li a {
	color: rgba(255, 255, 255, 0.4);
	text-decoration: none !important;
}

#footer ul li a:hover {
	color: #fff;
}

#footer .fh5co-social li {
	display: block !important;
}

#footer .fh5co-social li a {
	font-size: 16px;
}

#footer .fh5co-social li i {
	float: left;
	font-size: 20px;
	width: 40px;
}

#footer .fh5co-copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	margin-top: 40px !important;
	padding: 3em;
	width: 100%;
	float: left;
}

#footer .fh5co-copyright span {
	display: block;
}

#footer .fh5co-copyright span a {
	color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 480px) {
	#footer .fh5co-copyright {
		text-align: left !important;
	}
	#footer .fh5co-copyright span {
		display: inline;
	}
}

.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: "Nanum Gothic", sans-serif;
	font-size: 16px;
	font-weight: 400;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding: 8px 20px;
}

.btn.btn-md {
	padding: 8px 20px !important;
}

.btn.btn-lg {
	padding: 18px 36px !important;
}

.btn:hover, .btn:active, .btn:focus {
	box-shadow: none !important;
	outline: none !important;
}

.btn-primary {
	background: #ef6249;
	color: #fff;
	border: 2px solid #ef6249;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: #f17660 !important;
	border-color: #f17660 !important;
	color: #fff !important;
}

.btn-primary.btn-outline {
	background: transparent;
	color: #ef6249;
	border: 2px solid #ef6249;
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus,
	.btn-primary.btn-outline:active {
	background: #ef6249;
	color: #fff;
}

.btn-success {
	background: #5cb85c;
	color: #fff;
	border: 2px solid #5cb85c;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
	background: #4cae4c !important;
	border-color: #4cae4c !important;
}

.btn-success.btn-outline {
	background: transparent;
	color: #5cb85c;
	border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover, .btn-success.btn-outline:focus,
	.btn-success.btn-outline:active {
	background: #5cb85c;
	color: #fff;
}

.btn-info {
	background: #5bc0de;
	color: #fff;
	border: 2px solid #5bc0de;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
	background: #46b8da !important;
	border-color: #46b8da !important;
}

.btn-info.btn-outline {
	background: transparent;
	color: #5bc0de;
	border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active
	{
	background: #5bc0de;
	color: #fff;
}

.btn-warning {
	background: #f0ad4e;
	color: #fff;
	border: 2px solid #f0ad4e;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
	background: #eea236 !important;
	border-color: #eea236 !important;
}

.btn-warning.btn-outline {
	background: transparent;
	color: #f0ad4e;
	border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus,
	.btn-warning.btn-outline:active {
	background: #f0ad4e;
	color: #fff;
}

.btn-danger {
	background: #d9534f;
	color: #fff;
	border: 2px solid #d9534f;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
	background: #d43f3a !important;
	border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
	background: transparent;
	color: #d9534f;
	border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus,
	.btn-danger.btn-outline:active {
	background: #d9534f;
	color: #fff;
}

.btn-outline {
	background: none;
	border: 2px solid gray;
	font-size: 16px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
	box-shadow: none;
}

.btn.with-arrow {
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn.with-arrow i {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -8px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.btn.with-arrow:hover {
	padding-right: 50px;
}

.btn.with-arrow:hover i {
	color: #fff;
	right: 18px;
	visibility: visible;
	opacity: 1;
}

.js .animate-box {
	opacity: 0;
}

#fh5co-wrapper {
	overflow-x: hidden;
	position: relative;
}

.fh5co-offcanvas {
	overflow: hidden;
}

.fh5co-offcanvas #fh5co-wrapper {
	overflow: hidden !important;
}

#fh5co-page {
	position: relative;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.fh5co-offcanvas #fh5co-page {
	-moz-transform: translateX(-240px);
	-webkit-transform: translateX(-240px);
	-ms-transform: translateX(-240px);
	-o-transform: translateX(-240px);
	transform: translateX(-240px);
}

@media screen and (max-width: 768px) {
	#fh5co-menu-wrap {
		display: none;
	}
}

#offcanvas-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 99;
	background: #222;
	right: -240px;
	width: 240px;
	padding: 20px;
	overflow-y: scroll !important;
}

#offcanvas-menu ul {
	padding: 0;
	margin: 0;
}

#offcanvas-menu ul li {
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
}

#offcanvas-menu ul li a {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.4);
}

#offcanvas-menu ul li a:hover {
	color: #ef6249;
}

#offcanvas-menu ul li>.fh5co-sub-menu {
	margin-top: 9px;
	padding-left: 20px;
}

#offcanvas-menu ul li.active>a {
	color: #ef6249;
}

#offcanvas-menu ul .fh5co-sub-menu {
	display: block !important;
}

.fh5co-nav-toggle {
	cursor: pointer;
	text-decoration: none;
}

.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
	background: #fff;
}

.fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after
	{
	background: #fff;
}

.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active
	{
	outline: none;
	border-bottom: none !important;
}

.fh5co-nav-toggle i {
	position: relative;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 30px;
	height: 2px;
	color: #fff;
	font: bold 14px/.4 Helvetica;
	text-transform: uppercase;
	text-indent: -55px;
	background: #fff;
	transition: all .2s ease-out;
}

.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
	content: '';
	width: 30px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.fh5co-nav-toggle.dark i {
	position: relative;
	color: #000;
	background: #000;
	transition: all .2s ease-out;
}

.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
	background: #000;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.fh5co-nav-toggle i::before {
	top: -7px;
}

.fh5co-nav-toggle i::after {
	bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
	top: -10px;
}

.fh5co-nav-toggle:hover i::after {
	bottom: -10px;
}

.fh5co-nav-toggle.active i {
	background: transparent;
}

.fh5co-nav-toggle.active i::before {
	top: 0;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
	bottom: 0;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 9999;
	display: block;
	margin: 0 auto;
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.fh5co-nav-toggle {
		display: block;
		top: 0px;
		margin-top: 2em;
	}
}

@media screen and (max-width: 480px) {
	.col-xxs-12 {
		float: none;
		width: 100%;
	}
}

.row-bottom-padded-lg {
	padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
	.row-bottom-padded-lg {
		padding-bottom: 2em;
	}
}

.row-top-padded-lg {
	padding-top: 7em;
}

@media screen and (max-width: 768px) {
	.row-top-padded-lg {
		padding-top: 2em;
	}
}

.row-bottom-padded-md {
	padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
	.row-bottom-padded-md {
		padding-bottom: 2em;
	}
}

.row-top-padded-md {
	padding-top: 4em;
}

@media screen and (max-width: 768px) {
	.row-top-padded-md {
		padding-top: 2em;
	}
}

.row-bottom-padded-sm {
	padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
	.row-bottom-padded-sm {
		padding-bottom: 2em;
	}
}

.row-top-padded-sm {
	padding-top: 2em;
}

@media screen and (max-width: 768px) {
	.row-top-padded-sm {
		padding-top: 2em;
	}
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.lead {
	line-height: 1.8;
}

.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/hourglass.svg) center no-repeat #222222;
}

/*# sourceMappingURL=style.css.map */