@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
	margin: 0;
	padding: 0;
}

#background_animate {
	z-index: -1 !important;
}

html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: "Nanum Gothic", sans-serif;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-ms-animation: none !important;
	-o-animation: none !important;
	animation: none !important;
}

#hero {
	height: 150px;
	background: #3C7990;
	position: relative;
	overflow: hidden;
	z-index: -2 !important;
}

#hero figure {
	position: absolute;
	right: 80px;
	top: 100px;
	color: #fff;
}

#hero figure blockquote {
	font-weight: 100;
}

#hero h1 {
	font-weight: 100;
	color: #fff;
	font-size: 57px;
	padding-top: 10px;
	padding-left: 80px;
}

#hero span {
	position: absolute;
	bottom: -50px;
	width: 250px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 10;
}

#hero .img_holder.password .left_arm img {
	left: 78px;
	bottom: 47px;
}

#hero .img_holder.password .right_arm img {
	right: 86px;
	bottom: 47px;
}

#hero .img_holder.password:before {
	left: 78px;
	bottom: 105px;
}

#hero .img_holder.password:after {
	right: 85px;
	bottom: 105px;
}

#hero .img_holder img.dr-glue-little {
	width: 250px;
	z-index: 10;
}

#hero .img_holder:before {
	content: '';
	position: absolute;
	height: 20px;
	width: 40px;
	background: #E9C09B;
	left: 10px;
	bottom: 40px;
	z-index: 999;
	border-radius: 100%;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
}

#hero .img_holder:after {
	content: '';
	position: absolute;
	height: 20px;
	width: 40px;
	background: #E9C09B;
	right: 10px;
	bottom: 40px;
	z-index: 999;
	border-radius: 100%;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
}

#hero .img_holder .left_arm img, #hero .img_holder .right_arm img {
	position: absolute;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	z-index: 9999;
	width: 45px;
}

#hero .img_holder .left_arm img {
	left: 9px;
	bottom: -22px;
}

#hero .img_holder .right_arm img {
	right: 7px;
	bottom: -22px;
}

form {
	width: 400px;
	height: 280px;
	margin: 0 auto;
	z-index: 999999999;
}

form .input_holder {
	position: relative;
	width: 300px;
	margin: 0 auto;
}

form .input_holder:nth-of-type(1) {
	margin-top: 40px;
}

form .input_holder span {
	position: absolute;
	left: 10px;
	top: 8px;
}

form .input_holder span:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 20px;
	background: #ccc;
	left: 99px;
	top: 0;
}

form .input_holder input {
	display: block;
	width: 500px;
	background: #fafafa;
	border: 0;
	outline: 0;
	margin-left: 100px;
	margin-bottom: 10px;
	padding: 10px;
	text-indent: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

form .input_holder input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fafafa inset;
}

form .submit_button {
	float: right;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ffffff;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0;
	border: 1px solid #3c7a90;
	display: inline-block;
	color: #3c7a90;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}

form .submit_button:hover {
	/* background-color: #f7f7f7; */
}

form .submit_button:active {
	position: relative;
	top: 1px;
}

#footer {
	color: #000;
	text-align: center;
}

#footer p {
	font-size: 16px;
}

#footer p a {
	text-decoration: none;
	color: #1cb0ec;
	position: relative;
	transition: .5s;
	-webkit-transition: .5s;
}

#footer p a:hover {
	color: #4bc0f0;
}

#footer p a:before, #footer p a:after {
	content: '';
	position: absolute;
	background: #1cb0ec;
	height: 2px;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .5s;
	-webkit-transition: .5s;
}

#footer p a:before {
	top: -10px;
}

#footer p a:after {
	bottom: -10px;
}

#footer p a:hover:before, #footer p a:hover:after {
	opacity: 1;
}

#footer p a:hover:before {
	top: -3px;
}

#footer p a:hover:after {
	bottom: -5px;
}