@import url(http://fonts.googleapis.com/css?family=Roboto:500,700);
html {
  color: #111;
  font-family: Roboto;
}

#page {
  margin: 3em 5%;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 4em 2em;
}

#date {
  font-size: 2em;
  font-weight: 300;
}

#clock {
  font-size: 4em;
  font-weight: 500;
}
