/* Define the body style */
body {
    font-family:Arial;
    font-size:12px;
    margin-top:0px;
}

/* We remove the margin, padding, and list style of UL and LI components */
#menuwrapper ul, #menuwrapper ul li{
    margin:0;
    padding:0;
    list-style:none;
}
#menuwrapper{position:fixed;left:0;top:0;bottom:0;}
#sidemenu{
	background:#272727;
    width:110px;
    height:100%;
}
/* We apply background color and border bottom white and width to 150px */
#menuwrapper ul li{
    background-color:#272727;
    width:110px;
    cursor:pointer;
    text-align:center;
}

/* We apply the background hover color when user hover the mouse over of the li component */
#menuwrapper ul li:hover{
    /*position:relative;*/
    
}

/* We apply the link style */
#menuwrapper ul li a{
    padding-top:20px;
    padding-bottom:20px;
    color:#555555;
    display:inline-block;
    text-decoration:none;
}

#menuwrapper ul li a.selected{
 	color:#ddd;   
}
#menuwrapper ul li a:hover{
	color:#3F68DE;
    transition:color 0.3s ease;
    -o-transition:color 0.3s ease;
    -webkit-transition:color 0.3s ease;
    -moz-transition:color 0.3s ease;
}

#menuwrapper ul li a:hover:after {
    content: "  ";
    display: inline-block;
    border-bottom: 0.8em solid transparent;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid #3F68DE;
    border-top: 0.8em solid transparent;
    height: 0px;
    margin-top: -2px;
    position: absolute;
    left: 91px;
    width: 1px;
    transition:border-right 1s ease;
    -o-transition:border-right 1s ease;
    -webkit-transition:border-right 1s ease;
    -moz-transition:border-right 1s ease;
}

#menuwrapper ul li a.noflyout:hover:after {
	border-right: 0.8em solid transparent;
    transition:none;
    -o-transition:none;
    -webkit-transition:none;
    -moz-transition:none;
}
/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#menuwrapper ul li ul{
    position:absolute;
    display:block;
    visibility:hidden;
    height:100%;
    background-color:transaprent;
    width:0px;
    color:#fff;
    
}

#menuwrapper ul li ul li{
    color:#fff;
    background:transparent;
    padding:15px;
}
/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */

#menuwrapper ul li:hover ul{
    left:110px;
    top:0px;
    display:block;
    visibility:visible;
    width:400px;
    background-color:#3F68DE;
    transition:background-color 0.5s ease;
    -o-transition:background-color 0.5s ease;
    -webkit-transition:background-color 0.5s ease;
    -moz-transition:background-color 0.5s ease;
    
}
