#board_wrapper {
	width: 90%;
	margin: 0 auto;
}

.table {
	width: 100%;
}

.textareasize {
	width: 100%;
	height: 350px;
}

#board_no {
	width: 6%;
}

#board_title {
	width: 60%
}

.board_th_width {
	width: 10%;
	background-color: #efefef;
}

#board_hits {
	
}

#board_date {
	
}

.bottom_form {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.myButton {
	float: right;
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef
		), color-stop(1, #019ad2));
	background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef',
		endColorstr='#019ad2', GradientType=0);
	background-color: #33bdef;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #057fd0;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #5b6178;
	margin-left: 10px;
}

.myButton:hover {
	color: #ffffff !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2
		), color-stop(1, #33bdef));
	background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2',
		endColorstr='#33bdef', GradientType=0);
	background-color: #019ad2;
}

.myButton:active {
	position: relative;
	top: 1px;
}

ul.form {
	position: relative;
	background: #fff;
	width: 200px;
	margin-left: 10px;
	padding: 0;
	list-style: none;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.form li a {
	width: 225px;
	padding-left: 20px;
	height: 50px;
	line-height: 50px;
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #686868;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.form li a:hover {
	background: #efefef;
}

.form li a.profile {
	border-left: 5px solid #008747;
}

.form li a.messages {
	border-left: 5px solid #fecf54;
}

.form li a.settings {
	border-left: 5px solid #cf2130;
}

.form li a.logout {
	border-left: 5px solid #dde2d5;
}

.form li:first-child a:hover, .form li:first-child a {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.form li:last-child a:hover, .form li:last-child a {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.form li a:hover i {
	color: #ea4f35;
}

.form i {
	margin-right: 15px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.form em {
	font-size: 10px;
	background: #ea4f35;
	padding: 3px 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-style: normal;
	color: #fff;
	margin-top: 17px;
	margin-right: 15px;
	line-height: 10px;
	height: 10px;
	float: right;
}

.form li.selected a {
	background: #efefef;
}

h1 {
	color: #fff;
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 40px;
	font-size: 30px;
	width: 300px;
	text-align: center;
}

p {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 12px;
	font-family: Arial, Helvetica;
	color: #fff;
	text-transform: uppercase;
}

p a {
	color: #fff;
	text-decoration: none;
}